$font-family-sans-serif:'Karla', sans-serif;
$yellow:hsl(71, 73%, 54%);
$gray-600:hsl(218, 22%, 67%);
$gray-800:hsl(0, 0%, 91%);
$pagination-padding-x-lg:5rem;

$cyan:rgb(74,190,189);
@import "../scss/bootstrap" 